.header {
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid lightgray;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flexFixedHeader {
  flex: 0 0 auto;
}

.flexScrollableContent {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.menuButton {
  border: solid 1px lightgray;
  border-radius: 5px;
  background-color: white;
  outline: none;
  margin-left: auto;
}

.menuButton:active {
  background-color: lightgray;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: white;
  overflow: scroll;
}
