.header {
  display: flex;
  padding: 0.5em;
  border-bottom: 1px solid lightgray;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
}

.menuButton {
  border: solid 1px lightgray;
  border-radius: 5px;
  background-color: white;
  outline: none;
}

.menuButton:active {
  background-color: lightgray;
}

.sidebar {
  width: 300px;
  height: 100%;
  background-color: rgba(255, 255, 255, .8);
}
